
<div>
	<a href="{{ path("app_dashboard_index") }}">Accueil</a>
	<a href="{{ path("app_address_index") }}">Adresses</a>
	<a href="{{ path("app_category_index") }}">Catégories</a>
	<a href="{{ path("app_color_index") }}">Couleurs</a>
	<a href="{{ path("app_city_index") }}">Villes</a>
	<a href="{{ path("app_customer_index") }}">Clients</a>
	<a href="{{ path("app_customer_order_index") }}">Factures clients</a>
	<a href="{{ path("app_order_status_index") }}">Statuts des commandes</a>
	<a href="{{ path("app_measurement_index") }}">Unités de mesures</a>
	<a href="{{ path("app_product_index") }}">Articles en vente</a>
	<a href="{{ path("app_supplier_index") }}">Fournisseurs</a>
	<a href="{{ path("app_supplied_item_index") }}">Produits fournisseur</a>
	<a href="{{ path("app_prize_index") }}">Prix lotterie</a>
</div>
