{% extends 'base.html.twig' %}

{% block title %}Ligne de commande fournisseur
{% endblock %}

{% block body %}
	<h1>Ligne de commande fournisseur</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>N°</th>
				<td>{{ supplier_order.id }}</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>{{ supplier_order.dateSupplierOrder ? supplier_order.dateSupplierOrder|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_supplier_order_index') }}">Retour à la liste</a>

	<a href="{{ path('app_supplier_order_edit', {'id': supplier_order.id}) }}">Éditer</a>

	{{ include('supplier_order/_delete_form.html.twig') }}
{% endblock %}
