{% extends 'base.html.twig' %}

{% block title %}Index catégorie
{% endblock %}

{% block body %}
	<h1>Index catégorie</h1>

	<table class="table">
		<thead>
			<tr>
				<th>N°</th>
				<th>Nom catégorie</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<tr>
					<td>{{ category.id }}</td>
					<td>{{ category.nameCategory }}</td>
					<td>
						<a href="{{ path('app_category_show', {'id': category.id}) }}">Voir</a>
						<a href="{{ path('app_category_edit', {'id': category.id}) }}">Éditer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">Il n'y a pas de données à afficher</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_category_new') }}">Ajouter</a>
{% endblock %}d
