{% extends 'base.html.twig' %}

{% block title %}Clients
{% endblock %}

{% block body %}
	<h1>Customer</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>N°</th>
				<td>{{ customer.id }}</td>
			</tr>
			<tr>
				<th>Prénom</th>
				<td>{{ customer.firstNameCustomer }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ customer.lastNameCustomer }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ customer.emailCustomer }}</td>
			</tr>
			<tr>
				<th>Rôle</th>
				<td>{{ customer.role }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_customer_index') }}">Retour à la liste</a>

	<a href="{{ path('app_customer_edit', {'id': customer.id}) }}">Éditer</a>

	{{ include('customer/_delete_form.html.twig') }}
{% endblock %}
