{% extends 'base.html.twig' %}

{% block title %}Produit fournisseur
{% endblock %}

{% block body %}
	<h1>Produit fournisseur</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>N°</th>
				<td>{{ supplied_item.id }}</td>
			</tr>
			<tr>
				<th>Nom du produit</th>
				<td>{{ supplied_item.nameSuppliedItem }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ supplied_item.descriptionSuppliedItem }}</td>
			</tr>
			<tr>
				<th>Prix d'achat HT</th>
				<td>{{ supplied_item.priceSuppliedItem }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_supplied_item_index') }}">Retour à la liste</a>

	<a href="{{ path('app_supplied_item_edit', {'id': supplied_item.id}) }}">Éditer</a>

	{{ include('supplied_item/_delete_form.html.twig') }}
{% endblock %}
