{% extends 'base.html.twig' %}

{% block title %}Produit
{% endblock %}

{% block body %}
	<h1>Produit</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>N°</th>
				<td>{{ product.id }}</td>
			</tr>
			<tr>
				<th>Nom du produit</th>
				<td>{{ product.nameProduct }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ product.descriptionProduct }}</td>
			</tr>
			<tr>
				<th>Image</th>
				<td>{{ product.imageProduct }}</td>
			</tr>
			<tr>
				<th>Prix</th>
				<td>{{ product.priceProduct }}</td>
			</tr>
			<tr>
				<th>Quantité en stock</th>
				<td>{{ product.quantityProduct }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_product_index') }}">Retour à la liste</a>

	<a href="{{ path('app_product_edit', {'id': product.id}) }}">Éditer</a>

	{{ include('product/_delete_form.html.twig') }}
{% endblock %}
